
body{
    background-image: url(/image/background.jpg);
    background-size: cover;
}

/* Sebagai element main */
.main-content{
    margin-top: 100px;
    /* background: red; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.main-content h2{
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-content h4{
   font-size: 24px;
    position: relative;
    bottom: 20px;
}


.main-content button {
    margin: 10px 0 0 0;
    width: 20%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: black;
    color: white;
    /* font-family: "Anton", sans-serif; */ 
    margin-bottom: 60px;
}

.main-content button h3{
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  cursor: pointer;
}

.content{
    display: flex;
    margin: 10px;
    gap: 20px;
}

.ads{
    width: 300px;
    background: black;
    color: white;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    height: 100px;
    border-radius: 5px;
}
.ads p{
    transform: translateY(20%);
    margin-right: 20px;
}
.ads img{
    margin-right: 10px;
    margin-top: 5px;
    transform: rotate(150deg);
    height: 70px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main-content h2{
        transform: translateX(40%);
    }
    .main-content h4{
        width: 600px;
        transform: translateX(30%);
    }
    .main-content button{
        width: 400px;
        height: 80px;
        transform: translateX(40%);
    }
    .content{
        transform: translateX(55%);
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main-content h2{
        transform: translateX(-2%);
    }
    .main-content h4{
        width: 600px;
        /* transform: translateX(8%); */
    }
    .main-content button{
        width: 400px;
        height: 80px;
        /* transform: translateX(13%); */
    }
    .content{
        /* transform: translateX(20%); */
        flex-direction: column;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content{
        flex-direction: row;
    }
}